<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card photoCover="https://t.ctcdn.com.br/9gxc6UexnXWOJPGsk8bInSmuOmQ=/1041x163:2790x1080/640x360/smart/i790338.jpeg" cardTitle="Chega na Netflix novo Live Action de One Piece"></app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card cardPhoto="https://sm.ign.com/ign_br/screenshot/default/blob_d6b9.jpg" cardTitle="Novos Episódios de One Piece estreiam essa semana"></app-small-card>
    <app-small-card cardPhoto="https://sm.ign.com/ign_br/screenshot/default/blob_d6b9.jpg" cardTitle="Novos Episódios de One Piece estreiam essa semana"></app-small-card>
    <app-small-card cardPhoto="https://sm.ign.com/ign_br/screenshot/default/blob_d6b9.jpg" cardTitle="Novos Episódios de One Piece estreiam essa semana"></app-small-card>
  </div>
</div>
